/*shiny progress bar ccs adapted from https://jackolney.github.io/2016/shiny/ */
.shiny-progress-container {
  /*top: 50% !important;
  left: 50% !important;
  margin-top: -100px !important;
  margin-left: -250px !important;*/
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2000;
}

.shiny-progress .progress {
  position: absolute;
  right: 0px;
  width: 380px;
  top: 0px;
  height: 8px;
  margin: 0px;
}

.shiny-progress .bar {
  background-color: #397AB9;
  .opacity = 0.8;
  transition-duration: 250ms;
}

.shiny-progress .progress-text {
    position: absolute;
    right: 10px;
    height: 30px;
    width: 350px;
    background-color: #ffffff;
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 2px;
    padding-left: 3px;
    opacity: 1;
    /* I also wanted to round off the corners of the text box */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.progress-text {
    /* Copy the below to vertically center the progress bar text box in the shiny dashboard header */
    /* !important is crucial here otherwise it gets overridden by the dreaded element.style */
    top: 15px !important;
    color: #6c6e70 !important;
    text-align: left;
}

/* Bold Initial part of message */
.shiny-progress .progress-text .progress-message {
    padding-top: 0px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 16px;
}

/* Message detail */
.shiny-progress .progress-text .progress-detail {
    padding-top: 0px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    font-size: 14px;
}
